/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"), url("../css/ptsans.woff2") format("woff2"), url("../css/ptsans.woff") format("woff");
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../css/ptsansbold.woff2") format("woff2"), url("../css/ptsansbold.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  background-color: #f2f2f2;
  text-transform: uppercase;

  counter-reset: section;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
}

.main-navigation {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-weight: bold;

  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  top: -1px;
  left: 530px;
  z-index: 1;
}

.main-navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 72px;

  list-style: none;
}

.main-navigation__item-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: 0;
  padding: 0;

  text-align: left;
  list-style: none;
}

.main-navigation__item {
  width: 240px;
  padding: 15px 0;

  word-wrap: break-word;
}

.main-navigation__item-wrap--right {
  text-align: right;
}

.main-navigation__list a {
  color: #000000;
}

.main-navigation__list a:hover,
.main-navigation__list a:focus {
  color: #81b3d2;
}

.main-navigation__list a:active {
  color: #000000;
  opacity: 30%
}

.main-navigation__list .nav-active {
  color: #766357;
}

.main-navigation__list .nav-active:hover,
.main-navigation__list .nav-active:focus,
.main-navigation__list .nav-active:active {
  cursor: default;
  color: #766357;
}


/*main*/


.index-main {
  text-align: center;

  background-color: #ffffff;
}

.index-main__intro {
  position: relative;

  width: 1200px;
  height: 508px;
  margin-bottom: 60px;
  padding-top: 76px;


  text-align: center;

  background-color: #6b9ec4;
  background-image: url("../img/intro-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.index-main__intro::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;

  width: 1200px;
  height: 59px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.features {
  margin-bottom: 50px;
}

.features__head,
.features__list .features__item-head {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.features__head {
  width: 606px;
  margin: 0 auto 27px;
  padding: 0;

  line-height: 26px;
}

.features__item-head {
  position: relative;
}

.features__item-head--counter::after {
  counter-increment: section;
  content: "— №" counter(section) " —";

  position: absolute;
  bottom: 21px;
  left: 50%;
  width: 74px;
  margin-left: -37px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.features__detailed-item .features__item-head--counter::after {
  color: #ffffff;
}

.features-recommend_first::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 50%;

  width: 75px;
  height: 72px;
  margin-left: -36px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;
}

.features-recommend_second::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 50%;

  width: 74px;
  height: 70px;
  margin-left: -37px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;
}

.features-recommend_third::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 50%;

  width: 64px;
  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ffffff;
}

.features__text {
  margin-bottom: 50px;
}

.features__item-text--wrap {
  padding-left: 5px;
  padding-right: 5px;
}

.features__list,
.features__recommend-list {
  display: flex;

  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;

  background-color: #eeeeee;
}

.features__list {
  flex-direction: column;
}

.features__recommend-list,
.features__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}


.features__recommend-item {
  display: block;

  width: 400px;
  padding: 58px;
  padding-bottom: 82px;
}

.features__recommend-item .features__item-head {
  margin-bottom: 24px;
  padding-top: 104px;
}


.features__detailed-item {
  display:flex;

  background-color: #81b3d2;
}

.features__detailed-box,
.features__item  {
  display: block;

  width: 400px;
  padding-top: 48px;
  padding-right: 50px;
  padding-bottom: 58px;
  padding-left: 50px;

  line-height: 21px;
}

.features__detailed-box--two {
  padding-left: 40px;
  padding-right: 40px;
}

.features__item  {
  width: 400px;
  padding-left: 70px;
  padding-right: 70px;
}

.features__detailed-box .features__item-head,
.features__item  .features__item-head{
  padding: 0 70px 64px;
}

.features__item-text {
  margin: 0;
}

.features__detailed-item,
.features__detailed-item .features__item-head {
  color: #ffffff;

}

.features__recommend-list,
.features__recommend-list .features__item-head {
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.features__recommend-list .features__item-head {
  color: #000000;

}

.index-search__form {
  position: absolute;
  left: 316px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);

  animation: bounce 0.5s;
}


.index-search__form-toggle {
  display: none;
}

.index-search__form-error {
  animation: shake 0.5s;
}


@keyframes bounce {
  0% {
    transform: translateY(-80px);
  }

  70% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.index-search__head {
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.index-search__text {
  margin-bottom: 48px;
  padding: 0 380px;

  line-height: 24px
}

.index-search__popup-btn {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;

  width: 568px;
  margin: 0 auto;
  padding: 30px;


  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  cursor: pointer;
}

.index-search__popup-btn:hover,
.index-search__popup-btn:focus {
  background-color: #604e43;
}

.index-search__popup-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.index-search__form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;

  text-align: left;
  word-wrap: break-word;
}


.index-search__date-field {
  position: relative;
}

.index-search__form-date {
  position: relative;
}

.index-search__form-item:last-of-type {
  margin-bottom: 0;
}

.index-search__form-calendar {
  position: absolute;
  right: 9px;
  top: 8px;

  width: 21px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
}

.index-search__form-calendar:hover svg,
.index-search__form-calendar:focus svg,
.index-search__form-calendar:hover,
.index-search__form-calendar:focus {
  outline: none;
  fill: #000000;

  cursor: pointer;
}

.index-search__form-calendar:active svg {
  outline: none;

  fill: #81b3d2;
}

.index-search__form-calendar svg{
  position: relative;
}

.index-search__guests-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 226px;

  text-align: left;
  word-wrap: break-word;
}

.index-search__guests-wrapper--kids {
  width: 180px;
}

.index-search__guests {
  position: relative;
}

.index-search__minus-btn {
  position: absolute;
  left: 14px;

  margin: 0;
  padding: 0;
  border: 0;

  line-height: 33px;
  font-size: 37px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__plus-btn {
  position: absolute;
  right: 14px;

  margin: 0;
  padding: 0;
  border: 0;

  line-height: 37px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -2px;
  color: #a9a9a9;
  background: transparent;
}

.index-search__minus-btn:hover,
.index-search__minus-btn:focus,
.index-search__plus-btn:hover,
.index-search__plus-btn:focus {
  color: #000000;

  outline: none;
  cursor: pointer;
}

.index-search__minus-btn:active,
.index-search__plus-btn:active {
  color: #81b3d2;
}

.index-search__form-date,
.index-search__guests-number {
  width: 346px;
  padding: 6px 12px;
}


.index-search__guests-number {
  width: 114px;

  text-align: center;
}

.index-search__guests-number[type=number]::-webkit-inner-spin-button,
.index-search__guests-number[type=number]::-webkit-outer-spin-button,
.hotels-form__range-field[type=number]::-webkit-inner-spin-button,
.hotels-form__range-field[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.index-search__guests-number[type=number],
.hotels-form__range-field[type=number] {
  -moz-appearance: textfield;
}

.index-search__form-date,
.index-search__guests-number,
.index-search__form-btn {
  height: 38px;

  font-size: 14px;
  line-height: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.index-search__form-date::placeholder {
  color: #000000;
  opacity: 1;
}

.index-search__form input:focus {
  outline: none;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.index-search__form .index-search__form-btn {
  min-height: 58px;
  margin-top: 54px;
  padding: 16px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #81b3d2;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.index-search__form .index-search__form-btn:hover,
.index-search__form .index-search__form-btn:focus {
  background-color: #669ec0;
}
.index-search__form .index-search__form-btn:active,
.index-search__form .index-search__form-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

#map {
  position: relative;
  width: 1200px;
  height: 598px;

  background-color: #f1f1ef;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.index-search__map {
  position: absolute;
  top: 0;
  left: 0;
}

.main-footer {
  position: absolute;
  bottom: 0;
  display: flex;

  padding: 32px 0;

  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.hotels-footer {
  position: static;
}

.main-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}

.main-footer__item--contacts {
  display: block;
  align-items: baseline;
  padding-left: 126px;
}

.main-footer__hashtag,
.main-footer__text {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.main-footer__hashtag {
  display: block;
  margin-bottom: 6px;
}

.footer-phone {
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #81b3d2;
}

.footer-phone:active{
  color: #000000;
  opacity: 30%
}

.main-footer__item--social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: #81b3d2;
}

.main-footer__social-btn--last {
  margin-right: 0;
}

.main-footer__social-btn:hover,
.main-footer__social-btn:focus {
  background-color: #669ec0;
}

.main-footer__social-btn:active {
  background-color: #5496bd;
}

.main-footer__social-btn:active svg {
  opacity: 30%;
}


.main-footer__creator-logo {
  fill: #000000;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.main-footer__creator-btn {
  line-height: 0;
}

.main-footer__creator-btn:hover svg,
.main-footer__creator-btn:focus svg {
  fill: #81b3d2;
}

.main-footer__creator-btn:active svg {
  fill: #bdbbbc;
}

/* hotels.html*/

.hotels-filter {
  min-height: 217px;
  padding: 28px 72px;

  background-color: #437aa3;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.hotels-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.hotels-form__fieldset-wrap {
  display: flex;
  flex-wrap: wrap;
}

.hotels-form__fieldset {
  width: 180px;
  margin: 0;
  padding: 0;
}

.hotels-form__fieldset--left {
  margin-right: 75px;
}

.hotels-form__checkbox-item {
  margin-bottom: 24px;
  padding-left: 42px;
}

.hotels-form__checkbox-item:last-of-type {
  margin-bottom: 0;
}

.hotels-form__checkbox-item label {
  position: relative;

  display: block;
  font-size: 14px;
  line-height: 21px;

  cursor: pointer;
  user-select: none;
}

.hotels-form__checkbox-input + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.hotels-form__checkbox-input:focus + label {
  outline: 2px solid #4e8ffe;
}

.hotels-form__checkbox-input:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.hotels-form__checkbox-input:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.hotels-form__checkbox-input:checked:disabled + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on-disabled.svg");
}

.hotels-form__checkbox-input:disabled + label,
.hotels-form__checkbox-input:checked:disabled + label {
  color: #6a6a6a;
}

.hotels-form__fieldset-head {
  margin-bottom: 26px;

  font-weight: bold;
  color: #ffffff;
}

.hotels-form__checkbox-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.hotels-form__fieldset {
  border: none;
}

.hotels-form__fieldset--range {
  width: 318px;

  color: #ffffff;
}

.hotels-form__fieldset-head--range {
  margin-bottom: 9px;
}

.hotels-form__range-box {
  position: relative;

  margin-bottom: 20px;
  padding: 5px 0;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.hotels-form__range-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.hotels-form__range-box label {
  display: inline-block;

  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;

  cursor: pointer;
}

.hotels-form__range-box .hotels-form__range-min,
.hotels-form__range-box .hotels-form__range-max {
  width: 148px;
  padding-left: 65px;
}

.hotels-form__range-box input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.hotels-form__range-controls {
  position: relative;

  margin-bottom: 32px;
}

.hotels-form__range-controls .hotels-form__range-scale {
  height: 2px;
  padding-left: 1px;

  background: rgba(255, 255, 255, 0.3);
}

.hotels-form__range-controls .hotels-form__range-bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.hotels-form__range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.hotels-form__range-toggle:hover,
.hotels-form__range-toggle:focus {
  margin-left: -1px;
  top: -10px;

  width: 22px;
  height: 22px;
}

.hotels-form__range-toggle--min {
  left: 0;
}

.hotels-form__range-toggle--max {
  left: 80%;
}

.hotels-form__range-toggle--max:hover,
.hotels-form__range-toggle--max:focus {
  left: 80%;
}

.hotels-form__btn {
  display: block;
  width: 136px;
  margin: 0 auto;
  margin-left: 85px;
  margin-right: 97px;
  padding: 6px 0px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotels-form__btn:hover,
.hotels-form__btn:focus {
  color: #000000;

  background-color: #ffffff;
}

.hotels-sorting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;

}

.hotels-sorting__left-box {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.hotels-sorting__head {
  margin: 0;
  margin-right: 50px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotels-sorting__types-head {
  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.hotels-sorting__types-list,
.hotels-sorting__arrows {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-sorting__arrows {
  justify-content: space-between;
  width: 34px;
}

.hotels-sorting__types-item {
  margin-right: 30px;

  font-size: 12px;
  line-height: 18px;
}

.hotels-sorting__types-item--active {
  color: #81b3d2;
}

.hotels-sorting__types-item--inactive {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;

}

.hotels-sorting__types-item--inactive:hover,
.hotels-sorting__types-item--inactive:focus {
  color: #81b3d2;
}

.hotels-sorting__types-item--inactive:active {
  color: #000000;
  text-decoration: none;
}

.hotels-sorting__arrow-active svg{
  fill: #81b3d2;
}

.hotels-sorting__arrow-inactive:hover svg,
.hotels-sorting__arrow-inactive:focus svg {
  fill: #000000;
}


.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  justify-content:space-between;
  min-height: 150px;
  padding: 30px 72px;

  font-size: 14px;
  line-height: 21px;

  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.hotels-item__left-box {
  display: flex;
}

.hotels-item__image {
  line-height: 0;
}

.hotels-item__info {
  display: block;

  margin-left: 30px;
}

.hotels-item__right-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90px;
}

.hotels-item__name {
  color: #000000;
}

.hotels-item__head {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
}

.hotels-item__name:hover,
.hotels-item__name:focus {
  color: #81b3d2;
}

.hotels-item__name:active,
.hotels-item__name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item__details {
  display: flex;

  margin-bottom: 10px;
}

.hotels-item__type {
  width: 116px;
  padding-right: 20px;

  word-wrap: break-word;
}

.hotels-item__btns {
  display: flex;
}

.hotels-item__details-btn,
.hotels-item__book-btn {
  padding: 3px 17px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;

  background-color: #81b3d2;
}

.hotels-item__details-btn {
  margin-right: 6px;
}

.hotels-item__details-btn:hover,
.hotels-item__details-btn:focus {
  background-color: #669ec0;
}

.hotels-item__details-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-item__book-btn {
  background-color: #766357;
}

.hotels-item__book-btn:hover,
.hotels-item__book-btn:focus {
  background-color: #604e43;
}

.hotels-item__book-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels-item__star-range {
  position: absolute;
  top: 0;
  right: 0;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.hotels-item__star-range--one {
  width: 18px;
}

.hotels-item__star-range--two {
  width: 40px;
}

.hotels-item__star-range--three {
  width: 62px;
}

.hotels-item__star-range--four {
  width: 84px;
}

.hotels-item__star-range--five {
  width: 106px;
}

.hotels-item__raiting {
  width: 110px;
  min-height: 27px;
  padding: 3px 0;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}
